﻿.content {
    background-color: white;
    margin: auto;
    min-width: 15%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow-x: auto;
    max-width: 250px;
}
body {
    padding-top: 12%;
    background-position: left top;
    background-image: url(/images/nhl-gebouw-18.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}


input[type=password] {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%
}

input[type=username] {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%
}

input[type=submit] {
    background-color: #0080FF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
